html
    head
        title My Courses
        link(rel="stylesheet", href="/stylesheets/style.css")
    body 
        ul#topMenu
            li
                a(href="/products") Products
            li
                a(href="/contactus") Contact Us
        
        
        hr
        block content
        hr
        h1 footer